<a href="https://colab.research.google.com/github/blurrydev/Python-Notebooks-IITM/blob/main/IMDB_Web_scraping_%5BTDS%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests

In [ ]:
response = requests.get('https://www.imdb.com/chart/top')

In [ ]:
content = response.content

In [ ]:
soup = bs(content, 'lxml')

In [ ]:
titles = soup.find_all('td', {'class': 'titleColumn'})

In [ ]:
new_titles = titles[0].find('a')

In [ ]:
new_titles.text

'The Shawshank Redemption'

In [ ]:
titles[0].text.strip()

'1.\n      The Shawshank Redemption\n(1994)'

In [ ]:
title_list = [titles[i].find('a').text for i in range(len(titles))]

In [ ]:
title_list

In [ ]:
year_list = [titles[i].find('span', {'class': 'secondaryInfo'}).text.strip() for i in range(len(titles))]

In [ ]:
year_list

In [ ]:
ratings = soup.find_all('td', {'class':"ratingColumn imdbRating"})

In [ ]:
ratings[0].strong.text

'9.2'

In [ ]:
rating_list = [ratings[i].strong.text for i in range(len(ratings))]

In [ ]:
rating_list

In [ ]:
zipped = zip(title_list, year_list, rating_list)

In [ ]:
df = pd.DataFrame(zipped, columns = ['Title', 'Year', 'Rating'])

In [ ]:
df

                        Title    Year Rating
0    The Shawshank Redemption  (1994)    9.2
1               The Godfather  (1972)    9.2
2             The Dark Knight  (2008)    9.0
3       The Godfather Part II  (1974)    9.0
4                12 Angry Men  (1957)    8.9
..                        ...     ...    ...
245                  Jai Bhim  (2021)    8.0
246                   Aladdin  (1992)    8.0
247                    Gandhi  (1982)    8.0
248                  The Help  (2011)    8.0
249      Beauty and the Beast  (1991)    8.0

[250 rows x 3 columns]